<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">顔認証と情報摘出</h2>
            </div>
            <div class="card-body">
                <form action="{% url 'Index:index' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="name">Full name</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email address</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="email" name="email" placeholder="example@email.com">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Message</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea class="textarea--style-6" name="message" placeholder="Message sent to the employer"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">免許、マイナンバーなど</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input type="file" name="image" id="image">
                            </div>
                        </div>
                        <div class="name">今の画像</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input type="file" name="picture" id="picture">
                            </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn--radius-2 btn--blue-2" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>